* {
  margin: 0;
  padding: 0;
}

.App {
  top: 0;
  text-align: center;
}

.App-header {

  background-color: rgba(160, 169, 194, 0.97);
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px+2vmin);
  color: white;
}

.cellInput {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  padding: 0%;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 3px solid bisque;
  background-color: bisque;
  margin: auto;
}

td {
  padding: 0;
}

.Button {
  margin-top: 20px;
}

.resetButton {
  background-color: darkslateblue;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.solveButton {
  background-color: darkslateblue;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.checkButton {
  background-color: darkslateblue;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.bBorder {
  border-bottom: 2px solid black;
}

.rBorder {
  border-right: 2px solid black;
}